.hf
{
	background:orange;
    color: white;
    border: 5px dashed white;
    padding: 13px;
    margin:auto auto;
    font-style: italic;
    font-weight: bolder;
    font-size: large;
    border-radius: 15px;
}
img
{
	float: right;
	border-radius: 10px;
}
#centre
{
	text-align: center;
}
table
{
	
	color:white;
	font-weight: bold;
	font-size: x-large;
	font-style: normal;
	border: 3px dashed white;
	border-color: white;
	border-radius: 10px;
}
p
{
    font-family: arial;
	color:black;
}
body
{
	background-image: url("background.jpeg");
}
#intro
{
	font-family: Georgia;
	font-weight: bold;
	color: white;
	display: block;
	word-spacing: 5px;
	letter-spacing: 1px;

}
h1
{
	color: orange;
}    
.contact
{
	font-weight: bold;
	font-size: large;
	color: white;
	
}
#a
{
	background: none;
    padding: 5px;
    border:3px dotted orange;
    border-radius: 20px;
    width: 140px;
}
#b
{
	background: none;
    padding: 5px;
    border:3px dotted orange;
    border-radius: 20px;
    width: 135px;
}
#c
{
	background: none;
    padding: 5px;
    border:3px dotted orange;
    border-radius: 20px;
    width: 230px;
}
#d
{
	background: none;
    padding: 5px;
    border:3px dotted orange;
    border-radius: 20px;
    width: 200px;
}
#e
{
	background: none;
    padding: 5px;
    border:3px dotted orange;
    border-radius: 20px;
    width: 165px;
}
ol
{
	color:white;
}
a
{
	color: white;
}
a:hover
{
	color:orange;
}
